@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hover-animation {
    @apply inline-block relative text-slate-600 dark:text-slate-200;
  }

  .hover-animation::after {
    @apply absolute w-full h-[3px] bottom-0 left-0 bg-emerald-500 origin-bottom-right transition transform duration-500 ease-out;
    content: "";
    transform: scaleX(0);
  }

  .hover-animation:hover::after {
    @apply origin-bottom-left;
    transform: scaleX(1);
  }

  .tab-active {
    @apply py-[10px] px-3 font-medium bg-emerald-50 text-emerald-700 rounded-lg justify-center items-center flex-grow transition-all dark:bg-neutral-700 dark:text-emerald-400 md:w-32 md:flex-grow-0 outline-none
  }

  .tab-inactive {
    @apply py-[10px] px-3 font-medium text-neutral-500 justify-center items-center flex-grow transition-all dark:text-neutral-400 md:w-32 md:flex-grow-0 hover:bg-emerald-50 hover:rounded-lg dark:hover:bg-neutral-700 outline-none
  }
}

.banner {
  min-height: 70vh;

  @screen lg {
    min-height: 95vh;
  }
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-track {
  @apply rounded-full;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-800 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-700;
}
